* {

    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica, Arial", "Lucida Grande", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-bottom: 40px; /* Margin bottom by footer height */
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    text-align: center;
!important;
}

.footer-content {
    color: #96999D;
}

.link{
    color: #96999D;
}

.link:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}
.centralized {
    margin-top: 250px;
    text-align: center;
}

.ipfs-links {
    text-align: center;
    margin-top: 100px;
}

.ipfs-link {
    text-align: center;
    margin: 4px;!important;
    color: #96999D;
}

.ipfs-link:hover {
    color: #1b1e21;
    text-decoration: none;
}
